body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Poppins&display=swap');
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_head {
  /* all: unset; */
  font-size: 10vw;
  position: relative;
  background: linear-gradient(70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73, #0ebeff, #ffdd40, #ae63e4, #47cf73);
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-transform: uppercase;
  animation: rainbow-border 1.5s linear infinite;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 200%;
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.sub_head{
  font-size: 4vw;
  font-family: 'Covered By Your Grace', cursive;
}

.entry {
  font-size: 400%;
  font-weight: bold;
  width: auto;
}

.typed-cursor {
  opacity: 1;
  font-size: 300%;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  position:relative;
  width:100%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
 


/* nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
} */

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

/* button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
} */

 
.ul_motion {
  padding: 25px;
  position: absolute;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

 

.button_learn_more {
  display: inline-block !important;
  font-size: 14px !important;
  letter-spacing: 3px !important;
  font-weight: 600 !important;
  color: #fff !important;
  text-align: center !important;
  padding: 12px 65px 12px 35px !important;
  text-transform: uppercase !important;
  position: relative !important;
  border: 1px solid #fff !important;
  z-index: 1 !important;
  overflow: hidden !important;
  background: transparent !important;
}
.button_learn_more:hover {
  background: #fff !important;
  color: #000 !important;
}
.button_learn_more span {
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 15px;
  border-left: 1px solid var(--bd-theme-primary);
  display: inline-block;
}
.button_learn_more::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  display: inline-block;
  background-color: var(--bd-theme-primary);
  z-index: -1;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}