.menu_active, .navItem a:hover{
    position: relative;
    background: linear-gradient(70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73, #0ebeff, #ffdd40, #ae63e4, #47cf73);
    color: #fff;
    animation: rainbow-border 1.5s linear infinite;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 200%;
}
.navItem a{
    font-size: 24px;
    color: #fff;
}
 
@keyframes rainbow-border {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
